In [2]:
#import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import seaborn as sns

In [3]:
#dataset is plane cargo information from san fran airport
#https://data.world/sanfrancisco/u397-j8nr/

#read in the csv
data = pd.read_csv("air-traffic-cargo-statistics-1.csv")
data.head(10)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Weight LBS,Cargo Metric TONS
0,201809,China Eastern,MU,China Eastern,MU,International,Asia,Enplaned,Cargo,Passenger,295217,133.910431
1,201809,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Enplaned,Express,Passenger,17163,7.785137
2,201809,China Airlines,CI,China Airlines,CI,International,Asia,Deplaned,Mail,Freighter,119173,54.056873
3,201809,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Mail,Passenger,4619,2.095178
4,201809,United Airlines,UA,United Airlines,UA,International,Europe,Deplaned,Mail,Passenger,279014,126.560750
5,201809,Air China,CA,Air China,CA,International,Asia,Deplaned,Cargo,Passenger,709281,321.729862
6,201809,China Airlines,CI,China Airlines,CI,International,Asia,Deplaned,Cargo,Passenger,505443,229.268945
7,201809,SAS Airlines,SK,SAS Airlines,SK,International,Europe,Enplaned,Cargo,Passenger,358249,162.501746
8,201809,United Airlines,UA,United Airlines,UA,International,Asia,Deplaned,Express,Passenger,420,0.190512
9,201809,Thomas Cook Airlines,MT,Thomas Cook Airlines,MT,International,Europe,Deplaned,Cargo,Passenger,12366,5.609218

In [4]:
data.shape

(29094, 12)

In [5]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29094 entries, 0 to 29093
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              29094 non-null  int64
 1   Operating Airline            29094 non-null  object
 2   Operating Airline IATA Code  29052 non-null  object
 3   Published Airline            29094 non-null  object
 4   Published Airline IATA Code  29052 non-null  object
 5   GEO Summary                  29094 non-null  object
 6   GEO Region                   29094 non-null  object
 7   Activity Type Code           29094 non-null  object
 8   Cargo Type Code              29094 non-null  object
 9   Cargo Aircraft Type          29094 non-null  object
 10  Cargo Weight LBS             29094 non-null  int64
 11  Cargo Metric TONS            29094 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 2.7+ MB

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Activity Period,29094.0,201162.928920,389.633930,200507.000000,200809.000000,201112.000000,201507.000000,2.018090e+05
Cargo Weight LBS,29094.0,472226.338730,922620.702874,1.000000,19666.250000,132124.500000,552535.000000,1.120641e+07
Cargo Metric TONS,29094.0,214.201867,418.500751,0.000454,8.920611,59.931673,250.629876,5.083227e+03

In [7]:
data['GEO Region'].value_counts()

Asia                   10950
US                      8017
Europe                  4778
Australia / Oceania     1777
Canada                  1620
Mexico                   974
Middle East              492
Central America          391
South America             95
Name: GEO Region, dtype: int64

In [8]:
data['GEO Summary'].value_counts()

International    21077
Domestic          8017
Name: GEO Summary, dtype: int64

In [9]:
data['Activity Type Code'].value_counts()

Deplaned    14835
Enplaned    14259
Name: Activity Type Code, dtype: int64

In [10]:
data['Cargo Type Code'].value_counts()

Cargo      15845
Mail        9607
Express     3642
Name: Cargo Type Code, dtype: int64

In [11]:
data['Cargo Aircraft Type'].value_counts()

Passenger    23847
Freighter     4822
Combi          425
Name: Cargo Aircraft Type, dtype: int64

In [12]:
#counting missing value percentage for each column
percent_missing = data.isna().sum()/ len(data) *100
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df.sort_values(by=['percent_missing'], ascending=False)

                             percent_missing
Operating Airline IATA Code          0.14436
Published Airline IATA Code          0.14436
Activity Period                      0.00000
Operating Airline                    0.00000
Published Airline                    0.00000
GEO Summary                          0.00000
GEO Region                           0.00000
Activity Type Code                   0.00000
Cargo Type Code                      0.00000
Cargo Aircraft Type                  0.00000
Cargo Weight LBS                     0.00000
Cargo Metric TONS                    0.00000

In [13]:
#converting activity period to a date time data type for easier interpretation from powerbi
#this statement sometimes triggers a warning about chained df selection statements, so i have disabled that warning
pd.options.mode.chained_assignment = None 
data['Activity Period'] = pd.to_datetime(data['Activity Period'], format='%Y%m')
data

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Weight LBS,Cargo Metric TONS
0,2018-09-01,China Eastern,MU,China Eastern,MU,International,Asia,Enplaned,Cargo,Passenger,295217,133.910431
1,2018-09-01,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Enplaned,Express,Passenger,17163,7.785137
2,2018-09-01,China Airlines,CI,China Airlines,CI,International,Asia,Deplaned,Mail,Freighter,119173,54.056873
3,2018-09-01,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Mail,Passenger,4619,2.095178
4,2018-09-01,United Airlines,UA,United Airlines,UA,International,Europe,Deplaned,Mail,Passenger,279014,126.560750
...,...,...,...,...,...,...,...,...,...,...,...,...
29089,2005-07-01,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Deplaned,Mail,Freighter,355,0.161028
29090,2005-07-01,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Deplaned,Mail,Passenger,355,0.161028
29091,2005-07-01,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Enplaned,Cargo,Freighter,122801,55.702534
29092,2005-07-01,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Enplaned,Cargo,Passenger,122801,55.702534
29093,2005-07-01,Northwest Airlines,NW,Northwest Airlines,NW,International,Asia,Deplaned,Cargo,Freighter,128320,58.205952

In [14]:
#dropping cargo weight LBS because tons is easier to interpret and most of it is in the hundreds of tons
#using the published airline instead of operating because its the airline that is being picked,
# not just the one that is making the trip
# dropping the codes because they arent useful and some are missing
#summary is useless because domestic is only tracked for US flights

In [15]:
cargo = data[['Activity Period', 'Published Airline', 'GEO Region', 'Activity Type Code', 'Cargo Type Code', 'Cargo Aircraft Type', 'Cargo Metric TONS']]
cargo

,Activity Period,Published Airline,GEO Region,Activity Type Code,Cargo Type Code,Cargo Aircraft Type,Cargo Metric TONS
0,2018-09-01,China Eastern,Asia,Enplaned,Cargo,Passenger,133.910431
1,2018-09-01,Singapore Airlines,Asia,Enplaned,Express,Passenger,7.785137
2,2018-09-01,China Airlines,Asia,Deplaned,Mail,Freighter,54.056873
3,2018-09-01,Air Canada,Canada,Enplaned,Mail,Passenger,2.095178
4,2018-09-01,United Airlines,Europe,Deplaned,Mail,Passenger,126.560750
...,...,...,...,...,...,...,...
29089,2005-07-01,Northwest Airlines,US,Deplaned,Mail,Freighter,0.161028
29090,2005-07-01,Northwest Airlines,US,Deplaned,Mail,Passenger,0.161028
29091,2005-07-01,Northwest Airlines,US,Enplaned,Cargo,Freighter,55.702534
29092,2005-07-01,Northwest Airlines,US,Enplaned,Cargo,Passenger,55.702534
29093,2005-07-01,Northwest Airlines,Asia,Deplaned,Cargo,Freighter,58.205952

In [16]:
#export to CSV
cargo.to_csv('Air_Cargo.csv', index=False)